/**
 * Main site styles.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved.
 */
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}

body {
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.3, #d1e2eb), to(#d1e2eb));*/
    background-color: #5c90c2;
}

#layout {
    margin: 0px auto;
    width: 800px;
    min-height: 700px;
    border: 1px solid black;
    border-top: 0px solid white;
    background-color: white;
    -webkit-box-shadow: 2px 2px 20px #000;
    background-color: white;
}

#header {
    padding: 10px;
    height: 150px;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#5c90c2), color-stop(0.5, #7ca2c7), color-stop(0.5, #5c90c2), to(#5c90c2));*/
    background-image: url("../images/ist2_9201602-alpha-beet.jpg");
    background-position: -50px;
}

#header h1 {
    margin-top: 0em;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz';
    font-size: 75px;
    line-height: 150px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 3px;
    padding-left: 10px;
}

#viewer {
    padding: 20px;
    margin: 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px inset;
    -webkit-border-radius: 50px 50px;
    z-index: 2;
    border: 1px solid #eee;
    background-color: #fafafa;
}

#search {
    text-align: center;
    margin-bottom: 15px;
    height: 35px;
}

#apps {
    border: 1px solid #eee;
    background-color: white;
    -webkit-border-radius: 10px;
    padding: 2px;
    height: 402px;
}

.dijitBorderContainer {
    background-color: transparent !important;
}

.dijitGutter {
    background: transparent !important;
}

.dijitBorderContainer-child {
    border-width: 0px !important;
}

.harkSearchView input[type="search"] {
    width: 300px;
    vertical-align: middle;
}

.harkThumbnailViewButton {
    overflow: hidden;
    padding-top: 161px !important;
    padding-bottom: 161px !important;
}

.harkThumbnailViewLeftIcon {
    background-image: url('../images/left.png');
    height: 32px;
    width: 32px;
}

.harkThumbnailViewRighttIcon {
    background-image: url('../images/right.png');
    height: 32px;
    width: 32px;
}

.harkThumbnailViewTable {
    width: 100%;
}

.harkThumbnailViewTable td {
    text-align: center;
    width: 33%;
}