/**
 * Main site styles.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved.
 */
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 0.9em !important;
}

body {
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.3, #d1e2eb), to(#d1e2eb));*/
    background-color: #6599cb;
}

a {
    color: #6599cb;
}

#layout {
    margin: 0px auto;
    width: 800px;
    min-height: 625px;
    border: 1px solid black;
    border-top: 0px solid white;
    background-color: white;
    -moz-box-shadow: 2px 2px 20px #000;
    -webkit-box-shadow: 2px 2px 20px #000;
    background-color: white;
    z-index: 10;
}

#header {
    height: 150px;
}

#title {
    background-image: url("../images/ist2_9201602-alpha-beet.jpg");
    background-position: -25px;
    overflow: hidden;
}

#nav {
    padding: 3px 15px;
    /*color: black;
    background-color: #E4F2FF !important;
    background-image: url("http://ajax.googleapis.com/ajax/libs/dojo/1.5.0/dijit/themes/claro/form/images/button.png") !important;*/
}

#nav a {
}

#header h1 {
    margin-top: 0em;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz';
    font-size: 75px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 3px;
    padding-left: 10px;
    line-height: 110px;
}

#footer {
    text-align: right;
    margin: 5px auto;
    color: white;
    width: 800px;
    height: 60px;
    color: #edf8fe;
}

#footer .fixedPane {
    text-align: left;
    overflow: hidden;
}

#viewer {
    padding: 20px;
    margin: 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px inset;
    -moz-border-radius: 50px 50px;
    -webkit-border-radius: 50px 50px;
    z-index: 2;
    border: 1px solid #eee;
    background-color: #f7f7f7;
}

#search {
    text-align: center;
    margin-bottom: 0px;
}

#apps {
    border: 1px solid #eee;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 2px;
    height: 350px;
}

.dijitBorderContainer {
    background-color: transparent !important;
    border: 0px solid white !important;
}

.dijitGutter {
    background: transparent !important;
}

.dijitBorderContainer-child {
    border-width: 0px !important;
}

.harkSearchView input[type="search"] {
    width: 300px;
    vertical-align: middle;
}

.harkThumbnailViewButton {
    overflow: hidden;
    padding-top: 161px !important;
    padding-bottom: 161px !important;
}

.harkThumbnailViewPane {
    overflow: hidden;
}

.harkThumbnailViewLeftIcon {
    background-image: url('../images/left.png');
    height: 32px;
    width: 32px;
}

.harkThumbnailViewRighttIcon {
    background-image: url('../images/right.png');
    height: 32px;
    width: 32px;
}

.harkThumbnailViewTable {
    width: 100%;
}

.harkThumbnailViewTable td {
    text-align: center;
    width: 33%;
    height: 150px;
}