/**
 * Main site styles.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved.
 */
body.claro {
    padding: 0px;
    background-color: #6D9CC5;
    font-size: 11pt;
    font-family: Helvetica, sans-serif;
}

a {
    color: #6599cb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#layout {
	margin-bottom: 20px;
	padding: 10px 0px;
	background-color: white;
	-moz-box-shadow: 2px 2px 20px #000;
    -webkit-box-shadow: 2px 2px 20px #000;
    -o-box-shadow: 2px 2px 20px #000;
    border: 1px solid black;
    border-top: 0px solid white;
}

#header {
    height: 150px;
    background-color: #ddd;
}

#bar {
    height: 28px;
}

#login {
    padding: 5px;
    display: inline-block;
    font-size: 0.9em;
}

#search {
    margin: 25px 0px;
    text-align: center;
}

#search input[type="search"] {
    font-size: inherit;
    vertical-align: middle;
    width: 100%;
    margin-top: 3px;
}

.dj_ff #search input[type="search"] {
    margin-top: 0px;
}

#search button {
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#results .summary {
    color: gray;
    font-size: 0.9em;
}

#results .summary-top {
    margin-bottom: 20px;
}

#results .summary .position {
    text-align: center;
}

#results .summary .navigation-next {
    text-align: right;
}

#results .summary .separator {
    height: 1px;
    background-color: #ddd;
}

#results .summary a.disabled {
    color: gray;
}

#results .row {
    margin: 10px 0px;
    padding: 10px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(250,250,250)),
        color-stop(1, rgb(240,240,240))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(250,250,250) 0%,
        rgb(240,240,240) 100%
    );
}

#results .result {
    border: 1px solid #ddd;
    width: 138px;
    text-align: center;
    height: 190px;
    background-color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    opacity: 0.25;
}

#results .result.active {
    opacity: 1;
}

#results .result .title {
    padding-top: 5px;
    display: inline-block;
}

#results .result img {
    margin-top: 5px;
    width: 128px;
    border: 1px solid #eee;
    cursor: pointer;
}

#results .result button {
    width: 128px;
    font-size: inherit;
    cursor: pointer;
}

#results .result.active:hover {
    background-color: #fffff0;
    border-color: #ccc;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
    -webkit-transform: translate(-2px,-2px); 
}

#footer {
    color: #edf8fe;
    font-size: 0.8em;
}

#footer_right {
    text-align: right;
}


/*
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 0.95em !important;
}

#layout {
    margin: 0px auto;
    width: 800px;
    min-height: 625px;
    border: 1px solid black;
    border-top: 0px solid white;
    background-color: white;
    -moz-box-shadow: 2px 2px 20px #000;
    -webkit-box-shadow: 2px 2px 20px #000;
    -o-box-shadow: 2px 2px 20px #000;
    background-color: white;
    z-index: 10;
}

#header {
    height: 150px;
}

#title {
    background-image: url("../images/ist2_9201602-alpha-beet.jpg");
    background-position: -25px;
    overflow: hidden;
}

#nav {
    padding: 3px 15px;
}

#nav a {
}

#header h1 {
    margin-top: 0em;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz';
    font-size: 75px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 3px;
    -moz-text-fill-color: black;
    -moz-text-stroke-color: white;
    -moz-text-stroke-width: 3px;
    -o-text-fill-color: black;
    -o-text-stroke-color: white;
    -o-text-stroke-width: 3px;
    padding-left: 10px;
    line-height: 110px;
}

#viewer {
    padding: 20px;
    margin: 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px inset;
    -moz-border-radius: 50px 50px;
    -webkit-border-radius: 50px 50px;
    -o-border-radius: 50px 50px;
    border: 1px solid #eee;
    background-color: #f7f7f7;
}

#apps {
    border: 1px solid #eee;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2px;
    height: 350px;
}

#layout .dijitBorderContainer {
    background-color: transparent !important;
    border: 0px solid white !important;
}

#layout .dijitGutter {
    background: transparent !important;
}

#layout .dijitBorderContainer-child {
    border-width: 0px !important;
}

.dijitDialogUnderlay {
    background-color: black !important;
}

.harkSearchView input[type="search"] {
    width: 300px;
    vertical-align: middle;
    font-size: 1.5em !important;
}

.harkThumbnailViewButton {
    overflow: hidden;
    padding-top: 155px !important;
}

.harkThumbnailViewButton .dijitButtonDisabled {
    opacity: 0.3;
}

.harkThumbnailViewPane {
    overflow: hidden;
}

.harkThumbnailViewLeftIcon {
    background-image: url('../images/left.png');
    height: 32px;
    width: 32px;
}

.dijitDisabled .harkThumbnailViewLeftIcon {
    background-image: url('../images/left-disabled.png');
}

.harkThumbnailViewRighttIcon {
    background-image: url('../images/right.png');
    height: 32px;
    width: 32px;
}

.dijitDisabled .harkThumbnailViewRighttIcon {
    background-image: url('../images/right-disabled.png');
}

.harkThumbnailViewTable {
    width: 100%;
}

.harkThumbnailViewTable td {
    text-align: center;
    border: 1px solid #ddd;
    background-color: transparent;
    width: 33%;
    height: 160px;
}

.harkThumbnailViewTable .harkThumbnailViewActiveCell {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}

.harkThumbnailViewTable .harkThumbnailViewActiveCell:hover {
    background-color: #fffffa;
    border-color: black;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 10px;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 10px;
}

.harkThumbnailViewTable img {
    margin-top: 0.25em;
    -moz-box-shadow: rgba(33, 33, 33, 0.2) 1px 1px 5px;
    -webkit-box-shadow: rgba(33, 33, 33, 0.2) 1px 1px 5px;
    -o-box-shadow: rgba(33, 33, 33, 0.2) 1px 1px 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.harkThumbnailView h2 {
    margin: 0em;
}

.harkThumbnailViewMore {
    font-size: 0.8em;
    color: gray;
}

.harkDetailsView {
    width: 700px;
    height: 270px;
}

.harkDetailsViewLeft {
    overflow: hidden;
}

.harkDetailsViewScreenshot {
    width: 320px;
    height: 240px;
}

.harkDetailsViewTags {
    color: gray;
    font-size: 0.9em;
}

.harkGameFrame {
    width: 100%;
    height: 100%;
    background-color: white;
} 

.harkGameFrame .dijitBorderContainerNoGutter {
    width: 100%;
    height: 100%;
}

.harkGameFrame .dijitContentPane {
    overflow: hidden;
    padding: 0px;
}

.harkGameFrame iframe {
    border-width: 0px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.harkGameFrame .dijitToolbar {
    font-size: 0.75em;
    opacity: 0.25;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
}

.harkGameFrame .dijitToolbar:hover,  
.harkGameFrame .dijitToolbarFocused {
    opacity: 1.0;
}

.harkGameFrame .dijitToolbar label {
    display: inline-block;
    vertical-align: middle;
    font-style: italic;
    color: #999;
    padding-left: 3em;
}

.harkPreferencesView {
    font-size: 0.75em;
}

.harkPreferencesView label {
    font-weight: bold;
    text-align: left;
    width: 10em;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0px;
}

.harkPreferencesView .dijitSliderH {
    width: 250px;
    height: 25px;
}

.harkPreferencesView .dijitRuleContainerH {
    height: 5px;
}

.harkPreferencesView .dijitRuleLabelsContainerH {
    height: 1.5em;
    font-size: 0.85em;
}

.harkPreferencesView .dijitTitlePane {
    margin-top: 10px;
    width: 275px;
}

.harkPreferencesView .dijitTitlePane .dijitTitlePaneTitle {
    background-image: none !important;
    background-color: transparent !important;
    border-width: 0px !important;
    padding: 0px;
}

.harkPreferencesView .dijitTitlePane .dijitTitlePaneContentOuter {
    border-width: 0px !important;
}*/