/**
 * Main site styles.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved.
 */
html {
    width: 100%;
    height: 100%;
}

body.claro {
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #6D9CC5;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
}

a {
    color: #6599cb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#layout {
	margin-bottom: 20px;
	padding: 10px 0px;
	background-color: white;
	-moz-box-shadow: 2px 2px 20px #000;
    -webkit-box-shadow: 2px 2px 20px #000;
    -o-box-shadow: 2px 2px 20px #000;
    border: 1px solid black;
    border-top: 0px solid white;
}

#header {
    height: 150px;
    background-color: #ddd;
}

#bar {
    font-size: 0.8em;
}

#bar .dijitMenuItem {
    float: right;
}

#login {
    padding: 6px 10px 7px;
    margin: -1px;
    padding-right: 50px;
}

#search {
    margin: 25px 0px;
    text-align: center;
}

#search input[type="search"] {
    font-size: inherit;
    vertical-align: middle;
    width: 100%;
    margin-top: 3px;
}

.dj_ff #search input[type="search"] {
    margin-top: 0px;
}

#search button {
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#results .summary {
    color: gray;
    font-size: 0.9em;
}

#results .summary-top {
    margin-bottom: 20px;
}

#results .summary .position {
    text-align: center;
}

#results .summary .navigation-next {
    text-align: right;
}

#results .summary .separator {
    height: 1px;
    background-color: #ddd;
}

#results .summary a.disabled {
    color: gray;
}

#results .row {
    margin: 10px 0px;
    padding: 10px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(250,250,250)),
        color-stop(1, rgb(240,240,240))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(250,250,250) 0%,
        rgb(240,240,240) 100%
    );
}

#results .result {
    border: 1px solid #ddd;
    width: 138px;
    text-align: center;
    height: 190px;
    background-color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    opacity: 0.25;
}

#results .result.active {
    opacity: 1;
}

#results .result .title {
    padding-top: 5px;
    display: inline-block;
}

#results .result img {
    margin-top: 5px;
    width: 128px;
    border: 1px solid #eee;
    cursor: pointer;
}

#results .result button {
    width: 128px;
    font-size: inherit;
    cursor: pointer;
}

#results .result.active:hover {
    background-color: #fffff0;
    border-color: #ccc;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
    -webkit-transform: translate(-2px,-2px); 
}

#footer {
    color: #edf8fe;
    font-size: 0.8em;
}

#footer_right {
    text-align: right;
}