/**
 * Hark icons.
 *
 * Copyright UNC Open Web Team 2010, 2011. All Rights Reserved.
 */
.harkIcon {
    display: inline-block;
    vertical-align: bottom;
}

.harkInfoIcon {
    width: 16px;
    height: 16px;
    background-image: url('../images/information-white.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;    
}

.harkHelpIcon {
    width: 16px;
    height: 16px;
    background-image: url('../images/question-white.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;    
}

.harkBusyIcon {
    background-image: url('../images/spinner.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 48px;
    height: 48px;
}

.harkPreferencesIcon {
    width: 16px;
    height: 16px;
    background-image: url('../images/gear.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;        
}

.harkHomeIcon {
    width: 16px;
    height: 16px;
    background-image: url('../images/home.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;        
}