/**
 * Widget styles.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved.
 */
.harkDetailsView {
    width: 700px;
    height: 270px;
}

.harkDetailsViewLeft {
    overflow: hidden;
}

.harkDetailsViewScreenshot {
    width: 320px;
    height: 240px;
}

.harkDetailsViewTags {
    color: gray;
    font-size: 0.9em;
}


.harkGameFrame {
    width: 100%;
    height: 100%;
    background-color: white;
} 

.harkGameFrame .dijitBorderContainerNoGutter {
    width: 100%;
    height: 100%;
}

.harkGameFrame .dijitContentPane {
    overflow: hidden;
    padding: 0px;
}

.harkGameFrame iframe {
    border-width: 0px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.harkGameFrame .dijitToolbar {
    font-size: 0.75em;
    opacity: 0.25;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
}

.harkGameFrame .dijitToolbar:hover,  
.harkGameFrame .dijitToolbarFocused {
    opacity: 1.0;
}

.harkGameFrame .dijitToolbar label {
    display: inline-block;
    vertical-align: middle;
    font-style: italic;
    color: #999;
    padding-left: 3em;
}


.harkPreferencesView {
    font-size: 0.75em;
}

.harkPreferencesView label {
    font-weight: bold;
    text-align: left;
    width: 10em;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0px;
}

.harkPreferencesView .dijitSliderH {
    width: 250px;
    height: 25px;
}

.harkPreferencesView .dijitRuleContainerH {
    height: 5px;
}

.harkPreferencesView .dijitRuleLabelsContainerH {
    height: 1.5em;
    font-size: 0.85em;
}

.harkPreferencesView .dijitTitlePane {
    margin-top: 10px;
    width: 275px;
}

.harkPreferencesView .dijitTitlePane .dijitTitlePaneTitle {
    background-image: none !important;
    background-color: transparent !important;
    border-width: 0px !important;
    padding: 0px;
}

.harkPreferencesView .dijitTitlePane .dijitTitlePaneContentOuter {
    border-width: 0px !important;
}