/**
 * Main site styles.
 *
 * Copyright UNC Open Web Team 2010, 2011. All Rights Reserved.
 */
@import "http://o.aolcdn.com/dojo/1.5/dojo/resources/dojo.css";
@import "http://o.aolcdn.com/dojo/1.5/dijit/themes/claro/claro.css";
@import "960.css";
@import "common.css";
@import "../../widgets/css/SiteTabs.css";
/*@import "widgets.css";
@import "icons.css";
@import "/libs/uow/ui/css/Icons.css";
@import "/libs/uow/ui/css/BusyOverlay.css";*/

#top {
    padding-top: 10px;
}

#top h1 {
    text-shadow: #777 1px 1px 3px;
    font-weight: bold;
    color: white;
    font-family: 'Orbitron', Helvetica, sans-serif;
    padding-top: 25px;
    font-size: 150%;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 15px;
    display: inline-block;
    vertical-align: middle;
}

#top h1 a {
    color: white;
    text-decoration: none;
}

#bar {
    font-size: 0.8em;
}

#bar .dijitMenuItem {
    float: right;
}

#login {
    padding: 6px 10px 7px;
    margin: -1px;
    padding-right: 50px;
}

#search {
    margin: 25px 0px;
    text-align: center;
}

#search .dijitComboBox {
    width: 100%;
}

#results .summary {
    color: gray;
    font-size: 0.9em;
}

#results .summary-top {
    margin-bottom: 20px;
}

#results .summary .position {
    text-align: center;
}

#results .summary .navigation-next {
    text-align: right;
}

#results .summary .separator {
    height: 1px;
    background-color: #ddd;
}

#results .summary a.disabled {
    color: gray;
}

#results .row {
    margin: 10px 0px;
    padding: 10px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(250,250,250)),
        color-stop(1, rgb(240,240,240))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(250,250,250) 0%,
        rgb(240,240,240) 100%
    );
}

#results .result {
    border: 1px solid #ddd;
    width: 138px;
    text-align: center;
    height: 190px;
    background-color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    opacity: 0.25;
}

#results .result.active {
    opacity: 1;
}

#results .result .title {
    white-space: nowrap;
    padding-top: 5px;
    display: inline-block;
}

#results .result img {
    margin-top: 5px;
    width: 128px;
    border: 1px solid #eee;
    cursor: pointer;
}

#results .result button {
    width: 128px;
    font-size: inherit;
    cursor: pointer;
}

#results .result.active:hover {
    background-color: #fffff0;
    border-color: #ccc;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
    -webkit-transform: translate(-2px,-2px); 
}