/**
 * Game play styles.
 *
 * Copyright UNC Open Web Team 2010, 2011. All Rights Reserved.
 */
@import "common.css";
@import "../../widgets/css/GameFrame.css";
@import "/libs/uow/ui/css/BusyOverlay.css";
@import "/libs/uow/ui/css/Icons.css";

body {
	overflow: hidden !important;
    padding: 0px !important;
    margin: 0px !important;
    min-width: 0px !important;
}

#game {
    position: absolute;
    top: 25px;
    bottom: 0px;
    width: 100%;
}
