<div class="harkDetailsView">
  <div dojoType="dijit.layout.BorderContainer" dojoAttachPoint="containerNode" gutters="true">
    <div dojoType="dijit.layout.ContentPane" class="harkDetailsViewLeft" region="left">
      <img src="${game.screenshot}" alt="" class="harkDetailsViewScreenshot"/>
    </div>
    <div dojoType="dijit.layout.ContentPane" region="center">
      <h1 class="harkDetailsViewLabel"><a href="#${game.slug}" title="${labels.play_title}">${game.label}</a></h1>
      <p class="harkDetailsViewDescription">${game.description}</p>
      <p class="harkDetailsViewTags">${labels.tags_label} ${game.tags}</p>
    </div>    
  </div>
</div>