<div class="harkDetailsView">
  <div dojoType="dijit.layout.BorderContainer" dojoAttachPoint="containerNode" gutters="true">
    <div dojoType="dijit.layout.ContentPane" class="harkDetailsViewLeft" region="left">
      <img src="${game.screenshot}" alt="" class="harkDetailsViewScreenshot"/>
    </div>
    <div dojoType="dijit.layout.ContentPane" region="center">
      <h1 class="harkDetailsViewLabel">${game.label}</h1>
      <p class="harkDetailsViewDescription">${game.description}</p>
      <p class="harkDetailsViewTags" dojoAttachPoint="tags">${labels.tags_label} ${game.tags}</p>
    </div>    
  </div>
</div>