<div class="grid_12" class="title">
  <h2>{game_label}</h2>
</div>
<div class="clear"></div>
<div class="body">
  <div class="grid_2"><img src="{icon_src}" alt="{icon_alt}"/></div>
  <div class="grid_8">
    <div class="description">{game_description}</div>
  </div>
</div>
<div class="clear"></div>
<div class="footer">
  <div class="grid_6 tags">
    <span>{_labels.tags_label} {game_tags}</span>
  </div>
  <button class="clean-gray" disabled="notDisabled">Delete</button>
<button class="clean-gray" disabled="notDisabled">Edit</button>
</div>
<div class="clear"></div>