<div class="harkLoginButton">
  <span style="display: none;" dojoAttachPoint="loginNode"><span class="harkIcon harkLoginIcon"></span> ${labels.welcome_label} [<a href="#"  dojoAttachEvent="onclick:_onClickLogin">${labels.login_label}</a>]</span>
  
  <span style="display: none;" dojoAttachPoint="authedNode"><span class="harkIcon harkUserIcon"></span> <span dojoAttachPoint="welcomeNode"></span> [<a href="#" class="harkLogoutIcon" dojoAttachEvent="onclick:_onClickLogout">${labels.logout_label}</a>]</span>
</div>