<div class="harkPreferencesView">
  <!-- <label for="${id}_speech">${labels.speech_check_label}</label>
  <input type="checkbox" 
         dojoType="dijit.form.CheckBox"
         dojoAttachPoint="speechEnabledWidget"
         dojoAttachEvent="onChange:_onSpeechPref" 
         id="${id}_speech" 
         checked /><br /> -->
  <label for="${id}_master_volume">${labels.master_slider_label}</label>
  <div dojoType="dijit.form.HorizontalSlider" 
       dojoAttachPoint="volumeWidget"
       dojoAttachEvent="onChange:_onVolumePref" 
       value="100" 
       maximum="100" 
       minimum="0" 
       pageIncrement="20" 
       showButtons="false" 
       intermediateChanges="true" 
       slideDuration="500" 
       id="${id}_master_volume"> 
    <div dojoType="dijit.form.HorizontalRule" 
         container="bottomDecoration" 
         count="6"></div> 
    <ol dojoType="dijit.form.HorizontalRuleLabels" 
        container="bottomDecoration" 
        count="6" 
        numericMargin="0"></ol>
  </div>

  <label for="${id}_speech_rate">${labels.rate_slider_label}</label>
  <div dojoType="dijit.form.HorizontalSlider"
       dojoAttachPoint="speechRateWidget"
       dojoAttachEvent="onChange:_onSpeechRatePref" 
       value="200" 
       maximum="400" 
       minimum="80" 
       pageIncrement="20" 
       showButtons="false" 
       intermediateChanges="true" 
       slideDuration="500" 
       id="${id}_speech_rate"> 
    <div dojoType="dijit.form.HorizontalRule" 
         container="bottomDecoration" 
         count="17"></div> 
    <ol dojoType="dijit.form.HorizontalRuleLabels" 
        container="bottomDecoration" 
        count="17" 
        numericMargin="0">
      <li>80</li>
      <li></li>
      <li></li>
      <li>140</li>
      <li></li>
      <li></li>
      <li>200</li>
      <li></li>
      <li></li>
      <li>260</li>
      <li></li>
      <li></li>
      <li>320</li>
      <li></li>
      <li></li>
      <li>380</li>
      <li></li>
    </ol>
  </div>
  
  <div dojoType="dijit.TitlePane" 
       title="${labels.advanced_pane_title}" 
       open="false"
       dojoAttachPoint="titlePane">
    <label for="${id}_speech_volume">${labels.speech_slider_label}</label>
    <div dojoType="dijit.form.HorizontalSlider"
         dojoAttachPoint="speechVolumeWidget"
         dojoAttachEvent="onChange:_onSpeechVolumePref" 
         value="100" 
         maximum="100" 
         minimum="0" 
         pageIncrement="20" 
         showButtons="false" 
         intermediateChanges="true" 
         slideDuration="500" 
         id="${id}_speech_volume"> 
	    <div dojoType="dijit.form.HorizontalRule" 
	         container="bottomDecoration" 
	         count="6"></div> 
      <ol dojoType="dijit.form.HorizontalRuleLabels" 
          container="bottomDecoration" 
          count="6" 
          numericMargin="0"></ol>
    </div>
  
    <label for="${id}_sound_volume">${labels.sound_slider_label}</label>
    <div dojoType="dijit.form.HorizontalSlider" 
         dojoAttachPoint="soundVolumeWidget"
         dojoAttachEvent="onChange:_onSoundVolumePref" 
         value="90" 
         maximum="100" 
         minimum="0"
         pageIncrement="20" 
         showButtons="false" 
         intermediateChanges="true" 
         slideDuration="500" 
         id="${id}_sound_volume"> 
	    <div dojoType="dijit.form.HorizontalRule" 
	         container="bottomDecoration" 
	         count="6"></div> 
      <ol dojoType="dijit.form.HorizontalRuleLabels" 
          container="bottomDecoration" 
          count="6" 
          numericMargin="0"></ol>
    </div>
  
    <label for="${id}_music_volume">${labels.music_slider_label}</label>
    <div dojoType="dijit.form.HorizontalSlider" 
         dojoAttachPoint="musicVolumeWidget"
         dojoAttachEvent="onChange:_onMusicVolumePref" 
         value="30" 
         maximum="100" 
         minimum="0" 
         pageIncrement="20" 
         showButtons="false" 
         intermediateChanges="true" 
         slideDuration="500" 
         id="${id}_music_volume"> 
	    <div dojoType="dijit.form.HorizontalRule" 
	         container="bottomDecoration" 
	         count="6"></div> 
      <ol dojoType="dijit.form.HorizontalRuleLabels" 
          container="bottomDecoration" 
          count="6" 
          numericMargin="0"></ol>
    </div>
    
    <label for="${id}_mouse">${labels.mouse_check_label}</label>
    <input type="checkbox" 
           dojoType="dijit.form.CheckBox"
           dojoAttachPoint="mouseEnabledWidget"
           dojoAttachEvent="onChange:_onMousePref" 
           id="${id}_mouse" 
           checked />
  </div>
</div>