<div class="harkSiteActions">
  <a style="display: none;" dojoAttachPoint="loginNode" href="#"  dojoAttachEvent="onclick:_onClickLogin">${labels.login_label}</a
  ><div dojoType="dijit.form.DropDownButton" dojoAttachPoint="profileNode" baseClass="harkDropDownButton" style="display: none;">
    <div dojoType="dijit.TooltipDialog" class="harkSiteActionsPopup harkProfilePopup">
      <h2 dojoAttachPoint="nameNode"></h2>
      <span dojoAttachPoint="emailNode"></span><br />
      <span dojoAttachPoint="roleNode"></span><br />
      <hr />
      <a href="#" dojoAttachEvent="onclick:_onClickLogout">${labels.logout_label}</a>
    </div>
  </div
  ><div dojoType="dijit.form.DropDownButton" baseClass="harkDropDownButton">
    <span>${labels.settings_label}</span>
    <div dojoType="dijit.TooltipDialog" class="harkSiteActionsPopup harkSettingsPopup">
      <div dojoType="org.hark.widgets.PreferencesView" dojoAttachPoint="prefView"></div>
    </div>
  </div
  ><a href="#" dojoAttachEvent="onclick:_onClickHelp">${labels.help_label}</a>
</div>