<div class="harkSiteActions">
  <a style="display: none;" dojoAttachPoint="loginNode" href="#"  dojoAttachEvent="onclick:_onClickLogin">${labels.login_label}</a
  ><div dojoType="dijit.form.DropDownButton" dojoAttachPoint="profileNode" baseClass="harkDropDownButton" style="display: none;">
    <div dojoType="dijit.TooltipDialog" class="harkSiteActionsPopup harkProfilePopup">
      <h2 dojoAttachPoint="nameNode"></h2>
      <span dojoAttachPoint="emailNode"></span><br />
      <hr />
      <a href="#" dojoAttachEvent="onclick:_onClickLogout">${labels.logout_label}</a>
    </div>
  </div
  ><div dojoType="dijit.form.DropDownButton" baseClass="harkDropDownButton">
    <span>${labels.settings_label}</span>
    <div dojoType="dijit.TooltipDialog" class="harkSiteActionsPopup harkSettingsPopup">
      <span>todo</span>
      <hr />
    </div>
  </div
  ><a href="#">${labels.help_label}</a>
</div>