<div class="harkThumbnailView">
  <div dojoType="dijit.layout.BorderContainer" dojoAttachPoint="containerNode">
    <div class="harkThumbnailViewButton" dojoType="dijit.layout.ContentPane" region="left">
      <button dojoType="dijit.form.Button" iconClass="harkThumbnailViewLeftIcon" showLabel="false">${labels.previous_button_label}</button>
    </div>
    <div dojoType="dijit.layout.ContentPane" region="center" class="harkThumbnailViewPane" dojoAttachPoint="panel">
      <table class="harkThumbnailViewTable">
        <tbody>
          <tr dojoAttachPoint="row0"></tr>
          <tr dojoAttachPoint="row1"></tr>
        </tbody>
      </table>
    </div>
    <div class="harkThumbnailViewButton" dojoType="dijit.layout.ContentPane" region="right">
      <button dojoType="dijit.form.Button" iconClass="harkThumbnailViewRighttIcon" showLabel="false">${labels.next_button_label}</button>
    </div>
  </div>
</div>