/**
 * GameCredits dialog styles.
 *
 * Copyright UNC Open Web Team 2010, 2011. All Rights Reserved.
 */
.harkGameCredits .dijitDialogPaneContent {
    width: 480px !important;
    height: 320px !important;
    overflow-y: auto;
}