/**
 * GameDialog dialog styles.
 *
 * Copyright UNC Open Web Team 2010, 2011. All Rights Reserved.
 */
.harkGameDialog .dijitDialogPaneContent {
    width: 480px !important;
    height: 320px !important;
    overflow-y: auto;
    font-size: 0.9em;
}

.harkGameDialog p {
    margin-top: 0em;
}

.harkGameDialog h1,
.harkGameDialog h2,
.harkGameDialog h3 {
    margin-top: 0em;
    margin-bottom: 1em;
}