/**
 * GameList styles.
 *
 * Copyright UNC Open Web Team 2010, 2011. All Rights Reserved.
 */
.harkGameListViewItem {
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(245,245,245)),
        color-stop(0.1, rgb(255,255,255))
    );
}

.harkGameListViewItem h2 {
    margin: 0em;
}

.harkGameListViewItem img {
    height: 96px;
    width: 96px;
    margin-right: 10px;
    border: 1px solid #eee;
}

.harkGameListViewItem .body {
    padding-top: 10px;
}

/*.harkGameListViewItem .description {
    height: 96px;
    vertical-align: middle;
    display: table-cell;
}
*/
.harkGameListViewItem .footer {
    padding-top: 10px;
    color: #999;
    font-size: 0.9em;
}

.harkGameListViewItem .footer a {
    color: #999;
    text-decoration: underline;
}

.harkGameListViewItem .footer span {
    padding-right: 10px;
}

.harkGameListViewStatus {
    padding: 1em 0em;
    text-align: center;
}