/**
 * GameFrame styles.
 *
 * Copyright UNC Open Web Team 2010, 2011. All Rights Reserved.
 */
.harkGameFrame iframe {
    border-width: 0px;
    background-color: white;
    width: 100%;
    height: 100%;
}