/**
 * GameList styles.
 *
 * Copyright UNC Open Web Team 2010, 2011. All Rights Reserved.
 */
.harkGameListViewItem {
    padding: 10px 0px;
    border-top: 1px dotted #AAC8E2;
}

.harkGameListViewItem:last-child {
    border-bottom: 1px dotted #AAC8E2;    
}

.harkGameListViewItem.selected {
    background-color: rgba(255, 255, 0, 0.1);
}

.harkGameListViewItem h2 {
    margin: 0em;
}

.harkGameListViewItem img {
    height: 96px;
    width: 96px;
    margin-right: 10px;
    border: 1px solid #eee;
}

.harkGameListViewItem .body {
    padding-top: 10px;
}

.harkGameListViewItem .description {
    line-height: 1.3em;
}

.harkGameListViewItem .footer {
    padding-top: 10px;
    color: #999;
    font-size: 0.9em;
}

.harkGameListViewItem .footer a {
    color: #999;
    text-decoration: underline;
}

.harkGameListViewItem .footer .credits {
    text-align: right;
}

.harkGameListViewStatus {
    padding: 1em 0em;
    text-align: center;
}

.harkGameListViewSummary {
    color: #999;
	font-size: 0.8em;
	padding-bottom: 5px;
}