/**
 * SiteActions styles.
 *
 * Copyright UNC Open Web Team 2010, 2011. All Rights Reserved.
 */
@import "PreferencesView.css";
@import "GameDialog.css";


.harkSiteActions {
    text-align: right;
}

.harkSiteActions a {
    padding: 5px 15px;
    position: relative;
    text-align: center;
    display: inline-block;
    color: #235480;
}

.harkSiteActions a:hover,
.harkDropDownButton:hover {
    text-decoration: none;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(170, 200, 226)),
        color-stop(0.5, rgb(217, 232, 255)),
        color-stop(0.8, rgb(217, 232, 255)),
        color-stop(1, rgb(170, 200, 226))
    );
}

.harkProfilePopup {
    font-size: 0.8em;
}

.harkProfilePopup hr {
    background-color: #999;
    margin: 10px 0px;
}

.harkProfilePopup h2 {
    margin: 0px;
    padding: 0px;
}

.harkProfilePopup span {
    color: #999;
}

.harkDropDownButton .dijitButtonNode {
    border-width: 0px !important;
}

.harkDropDownButton {
    padding: 5px 15px;
    position: relative;
    text-align: center;
    display: inline-block;    
    color: #235480;
}

.dj_webkit .harkDropDownButton {
    top: -3px;
}