/**
 * SiteTab styles.
 *
 * Copyright UNC Open Web Team 2010, 2011. All Rights Reserved.
 */
.harkSiteTabs {    
}

.harkSiteTabs a {
    padding: 5px 15px;
    position: relative;
    text-align: center;
    display: inline-block;
    color: #235480;
}

.harkSiteTabs a.selected {
    color: black;
    font-weight: bold;
}

.harkSiteTabs a:hover {
    background-color: #D9E8FF;
    text-decoration: none;
}

.harkSiteTabs a.selected:hover {
    background-color: transparent;
}