/**
 * SiteTab styles.
 *
 * Copyright UNC Open Web Team 2010, 2011. All Rights Reserved.
 */
.harkSiteTabs {    
}

.harkSiteTabs a {
    padding: 5px 15px;
    position: relative;
    text-align: center;
    display: inline-block;
    color: #235480;
}

.harkSiteTabs a.selected {
    color: black;
    font-weight: bold;
}

.harkSiteTabs a:hover {
    text-decoration: none;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(170, 200, 226)),
        color-stop(0.5, rgb(217, 232, 255)),
        color-stop(0.8, rgb(217, 232, 255)),
        color-stop(1, rgb(170, 200, 226))
    );
}

.harkSiteTabs a.selected:hover {
    background-color: transparent;
}

.harkSiteTabs .hint {
    padding-left: 2em;
    font-size: 0.8em;
    color: #ccc;
    font-style: italic;
}

.harkSiteTabsBar {
    
}